* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

main {
  margin: 20px;
}

.btn {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px 20px;
  font-weight: 600;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.modal-backdrop.show .modal-container {
  transform: scale(1);
}

.modal-container {
  position: relative;
  width: min(600px, 90%);
  padding: 20px 20px 0;
  border-radius: 10px;
  background: #fff;
  transform: scale(0);
  transition: transform 0.3s;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #666;
  background: #ebebeb;
  font-size: 2rem;
}

.modal-close:hover {
  color: #333;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0;
}

.modal-btn {
  padding: 8px 20px;
  color: #fff;
  background: #464e63;
}

.modal-btn.primary {
  background: #377aad;
}

.modal-btn.danger {
  background: #cc4e27;
}

.modal-btn.pull-left {
  margin-right: auto;
}